.out {
    background-color: rgb(128, 24, 226);
    margin-top: 30px;
}
.out2 {
    background-color: rgb(226, 172, 24);
    margin-top: 30px;
}
.out3 {
    background-color: rgb(226, 31, 112);
    margin-top: 30px;
}
.out4 {
    background-color: rgb(20, 233, 162);
    margin-top: 30px;
}
.out5 {
    background-color: rgb(135, 243, 11);
    margin-top: 30px;
}
.out6 {
    background-color: rgb(253, 249, 7);
    margin-top: 30px;
}